SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/ObjetivoWS/ObjetivoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sed.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="ObjetivoWS" targetNamespace="http://services.sed.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.160.145.128:8080/SistemaEDServices/ObjetivoWS?xsd=1" namespace="http://services.sed.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarObjetivosXColaborador">
    <part name="parameters" element="tns:listarObjetivosXColaborador" />
  </message>
  <message name="listarObjetivosXColaboradorResponse">
    <part name="parameters" element="tns:listarObjetivosXColaboradorResponse" />
  </message>
  <message name="actualizarObjetivo">
    <part name="parameters" element="tns:actualizarObjetivo" />
  </message>
  <message name="actualizarObjetivoResponse">
    <part name="parameters" element="tns:actualizarObjetivoResponse" />
  </message>
  <message name="eliminarObjetivo">
    <part name="parameters" element="tns:eliminarObjetivo" />
  </message>
  <message name="eliminarObjetivoResponse">
    <part name="parameters" element="tns:eliminarObjetivoResponse" />
  </message>
  <message name="insertarObjetivo">
    <part name="parameters" element="tns:insertarObjetivo" />
  </message>
  <message name="insertarObjetivoResponse">
    <part name="parameters" element="tns:insertarObjetivoResponse" />
  </message>
  <message name="listarObjetivos">
    <part name="parameters" element="tns:listarObjetivos" />
  </message>
  <message name="listarObjetivosResponse">
    <part name="parameters" element="tns:listarObjetivosResponse" />
  </message>
  <portType name="ObjetivoWS">
    <operation name="listarObjetivosXColaborador">
      <input wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/listarObjetivosXColaboradorRequest" message="tns:listarObjetivosXColaborador" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/listarObjetivosXColaboradorResponse" message="tns:listarObjetivosXColaboradorResponse" />
    </operation>
    <operation name="actualizarObjetivo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/actualizarObjetivoRequest" message="tns:actualizarObjetivo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/actualizarObjetivoResponse" message="tns:actualizarObjetivoResponse" />
    </operation>
    <operation name="eliminarObjetivo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/eliminarObjetivoRequest" message="tns:eliminarObjetivo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/eliminarObjetivoResponse" message="tns:eliminarObjetivoResponse" />
    </operation>
    <operation name="insertarObjetivo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/insertarObjetivoRequest" message="tns:insertarObjetivo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/insertarObjetivoResponse" message="tns:insertarObjetivoResponse" />
    </operation>
    <operation name="listarObjetivos">
      <input wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/listarObjetivosRequest" message="tns:listarObjetivos" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/ObjetivoWS/listarObjetivosResponse" message="tns:listarObjetivosResponse" />
    </operation>
  </portType>
  <binding name="ObjetivoWSPortBinding" type="tns:ObjetivoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarObjetivosXColaborador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarObjetivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarObjetivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarObjetivo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarObjetivos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ObjetivoWS">
    <port name="ObjetivoWSPort" binding="tns:ObjetivoWSPortBinding">
      <soap:address location="http://54.160.145.128:8080/SistemaEDServices/ObjetivoWS" />
    </port>
  </service>
</definitions>