SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/PeriodoWS/PeriodoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.sed.pucp.edu.pe/" targetNamespace="http://services.sed.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="actualizarPeriodo" type="tns:actualizarPeriodo" />
  <xs:element name="actualizarPeriodoResponse" type="tns:actualizarPeriodoResponse" />
  <xs:element name="eliminarPeriodo" type="tns:eliminarPeriodo" />
  <xs:element name="eliminarPeriodoResponse" type="tns:eliminarPeriodoResponse" />
  <xs:element name="insertarPeriodo" type="tns:insertarPeriodo" />
  <xs:element name="insertarPeriodoResponse" type="tns:insertarPeriodoResponse" />
  <xs:element name="listarGerenciaPeriodo" type="tns:listarGerenciaPeriodo" />
  <xs:element name="listarGerenciaPeriodoResponse" type="tns:listarGerenciaPeriodoResponse" />
  <xs:element name="listarPeriodos" type="tns:listarPeriodos" />
  <xs:element name="listarPeriodosResponse" type="tns:listarPeriodosResponse" />
  <xs:element name="obtenerPeriodo" type="tns:obtenerPeriodo" />
  <xs:element name="obtenerPeriodoResponse" type="tns:obtenerPeriodoResponse" />
  <xs:complexType name="insertarPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="configuracionFechas" nillable="true" type="tns:gerenciaPeriodo" />
      <xs:element minOccurs="0" name="diaNotificacion" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="escalas" nillable="true" type="tns:escalaPeriodo" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPeriodo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluaciones" nillable="true" type="tns:evaluacion" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaNotificacion" type="tns:time" />
      <xs:element name="idPeriodo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="objetivos" nillable="true" type="tns:objetivo" />
      <xs:element name="pesoEvalComp" type="xs:double" />
      <xs:element name="pesoEvalObj" type="xs:double" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pesosCriterio" nillable="true" type="tns:pesoCriterio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rangosPDI" nillable="true" type="tns:itemPDIPeriodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gerenciaPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="fechaFinCal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFinEvalFinD" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFinEvalPrevD" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFinPDI" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFinPlan" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicioCal" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicioEvalFinD" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicioEvalPrevD" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicioPDI" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicioPlan" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gerencia" type="tns:gerencia" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gerencia">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="colaboradores" nillable="true" type="tns:colaborador" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="configuracionFechas" nillable="true" type="tns:gerenciaPeriodo" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idGerencia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colaborador">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluaciones" nillable="true" type="tns:evaluacion" />
      <xs:element minOccurs="0" name="fechaNac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gerencia" type="tns:gerencia" />
      <xs:element name="idColaborador" type="xs:int" />
      <xs:element minOccurs="0" name="jefe" type="tns:colaborador" />
      <xs:element name="nivelAcceso" type="xs:int" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="objetivos" nillable="true" type="tns:objetivo" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
      <xs:element minOccurs="0" name="puestoTrabajo" type="tns:puestoTrabajo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subordinados" nillable="true" type="tns:colaborador" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="colaborador" type="tns:colaborador" />
      <xs:element minOccurs="0" name="escalaFinal" type="tns:escala" />
      <xs:element minOccurs="0" name="escalaPreCupos" type="tns:escala" />
      <xs:element minOccurs="0" name="escalaSinCalibrar" type="tns:escala" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoEvaluacion" />
      <xs:element name="estadoPDI" type="xs:int" />
      <xs:element name="idEvaluacion" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasEvaluacion" nillable="true" type="tns:lineaEvaluacion" />
      <xs:element name="notaAutoEval" type="xs:double" />
      <xs:element name="notaFinal" type="xs:double" />
      <xs:element minOccurs="0" name="observaciones" type="xs:string" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
      <xs:element name="tipo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="escala">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluacionesFinales" nillable="true" type="tns:evaluacion" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluacionesPreCupos" nillable="true" type="tns:evaluacion" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="evaluacionesSinCalibrar" nillable="true" type="tns:evaluacion" />
      <xs:element name="idEscala" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rangos" nillable="true" type="tns:escalaPeriodo" />
      <xs:element name="tipo" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="escalaPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="escala" type="tns:escala" />
      <xs:element name="notaMax" type="xs:double" />
      <xs:element name="notaMin" type="xs:double" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
      <xs:element name="porcentajeCupos" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaEvaluacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="accionesAtomar" type="xs:string" />
      <xs:element minOccurs="0" name="evaluacion" type="tns:evaluacion" />
      <xs:element name="idLineaEvaluacion" type="xs:int" />
      <xs:element minOccurs="0" name="itemPDI" type="tns:itemPDI" />
      <xs:element name="notaAutoEval" type="xs:double" />
      <xs:element name="notaFinal" type="xs:double" />
      <xs:element name="notaPrevia" type="xs:double" />
      <xs:element minOccurs="0" name="pesoCriterio" type="tns:pesoCriterio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sublineasEvaluacion" nillable="true" type="tns:lineaEvaluacion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemPDI">
    <xs:sequence>
      <xs:element name="idItemPDI" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasEvaluacion" nillable="true" type="tns:lineaEvaluacion" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rangos" nillable="true" type="tns:itemPDIPeriodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="itemPDIPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="itemPDI" type="tns:itemPDI" />
      <xs:element name="notaMax" type="xs:double" />
      <xs:element name="notaMin" type="xs:double" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pesoCriterio">
    <xs:sequence>
      <xs:element minOccurs="0" name="criterio" type="tns:criterio" />
      <xs:element minOccurs="0" name="criterioPadre" type="tns:criterio" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCriterio" type="xs:int" />
      <xs:element name="idPeriodo" type="xs:int" />
      <xs:element name="idPesoCriterio" type="xs:int" />
      <xs:element name="idPuestoTrabajo" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="lineasEvaluacion" nillable="true" type="tns:lineaEvaluacion" />
      <xs:element minOccurs="0" name="nombreCriterio" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePeriodo" type="xs:string" />
      <xs:element minOccurs="0" name="nombrePuestoTrabajo" type="xs:string" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
      <xs:element name="peso" type="xs:double" />
      <xs:element minOccurs="0" name="puestoTrabajo" type="tns:puestoTrabajo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="criterio">
    <xs:sequence>
      <xs:element minOccurs="0" name="criterioPadre" type="tns:criterio" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="criterios" nillable="true" type="tns:criterio" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCriterio" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="tipo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="puestoTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="gerencia" type="tns:gerencia" />
      <xs:element name="idPuestoTrabajo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pesosCriterio" nillable="true" type="tns:pesoCriterio" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objetivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="colaborador" type="tns:colaborador" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element minOccurs="0" name="descripcionEstado" type="xs:string" />
      <xs:element name="estado" type="xs:int" />
      <xs:element minOccurs="0" name="evaluacion" type="tns:evaluacionDesempenho" />
      <xs:element minOccurs="0" name="fechaAprobacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaFormulacion" type="xs:dateTime" />
      <xs:element name="idObjetivo" type="xs:int" />
      <xs:element name="meta" type="xs:double" />
      <xs:element name="notaAutoEval" type="xs:double" />
      <xs:element name="notaFinal" type="xs:double" />
      <xs:element name="notaPrevia" type="xs:double" />
      <xs:element minOccurs="0" name="observacion" type="xs:string" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
      <xs:element name="peso" type="xs:double" />
      <xs:element minOccurs="0" name="unidadMedida" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="evaluacionDesempenho">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:evaluacion">
        <xs:sequence>
          <xs:element name="estadoAutoEval" type="xs:int" />
          <xs:element name="estadoPlanificacion" type="xs:int" />
          <xs:element name="notaAutoEvalComp" type="xs:double" />
          <xs:element name="notaAutoEvalObj" type="xs:double" />
          <xs:element name="notaFinalComp" type="xs:double" />
          <xs:element name="notaFinalObj" type="xs:double" />
          <xs:element name="notaPrevia" type="xs:double" />
          <xs:element name="notaPreviaComp" type="xs:double" />
          <xs:element name="notaPreviaObj" type="xs:double" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="objetivos" nillable="true" type="tns:objetivo" />
          <xs:element minOccurs="0" name="observacionesComp" type="xs:string" />
          <xs:element minOccurs="0" name="observacionesObj" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="time">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarPeriodoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="obtenerPeriodo">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="obtenerPeriodoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="actualizarPeriodoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPeriodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPeriodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGerenciaPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGerenciaPeriodoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPeriodoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoEvaluacion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ELIMINADA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="estadoPeriodo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ELIMINADA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>