SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/PeriodoWS/PeriodoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.sed.pucp.edu.pe/" targetNamespace="http://services.sed.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="insertarPeriodo" type="tns:insertarPeriodo" />
  <xs:element name="insertarPeriodoResponse" type="tns:insertarPeriodoResponse" />
  <xs:element name="listarPeriodos" type="tns:listarPeriodos" />
  <xs:element name="listarPeriodosResponse" type="tns:listarPeriodosResponse" />
  <xs:complexType name="insertarPeriodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaNotificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPeriodo" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaNotificacion" type="tns:time" />
      <xs:element name="idPeriodo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="pesoEvalComp" type="xs:double" />
      <xs:element name="pesoEvalObj" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="time">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="insertarPeriodoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPeriodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPeriodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPeriodo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ELIMINADA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>