SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/PeriodoWS/PeriodoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sed.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PeriodoWS" targetNamespace="http://services.sed.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.160.145.128:8080/SistemaEDServices/PeriodoWS?xsd=1" namespace="http://services.sed.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarGerenciaPeriodo">
    <part name="parameters" element="tns:listarGerenciaPeriodo" />
  </message>
  <message name="listarGerenciaPeriodoResponse">
    <part name="parameters" element="tns:listarGerenciaPeriodoResponse" />
  </message>
  <message name="actualizarPeriodo">
    <part name="parameters" element="tns:actualizarPeriodo" />
  </message>
  <message name="actualizarPeriodoResponse">
    <part name="parameters" element="tns:actualizarPeriodoResponse" />
  </message>
  <message name="listarPeriodos">
    <part name="parameters" element="tns:listarPeriodos" />
  </message>
  <message name="listarPeriodosResponse">
    <part name="parameters" element="tns:listarPeriodosResponse" />
  </message>
  <message name="insertarPeriodo">
    <part name="parameters" element="tns:insertarPeriodo" />
  </message>
  <message name="insertarPeriodoResponse">
    <part name="parameters" element="tns:insertarPeriodoResponse" />
  </message>
  <message name="obtenerPeriodo">
    <part name="parameters" element="tns:obtenerPeriodo" />
  </message>
  <message name="obtenerPeriodoResponse">
    <part name="parameters" element="tns:obtenerPeriodoResponse" />
  </message>
  <message name="eliminarPeriodo">
    <part name="parameters" element="tns:eliminarPeriodo" />
  </message>
  <message name="eliminarPeriodoResponse">
    <part name="parameters" element="tns:eliminarPeriodoResponse" />
  </message>
  <portType name="PeriodoWS">
    <operation name="listarGerenciaPeriodo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/listarGerenciaPeriodoRequest" message="tns:listarGerenciaPeriodo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/listarGerenciaPeriodoResponse" message="tns:listarGerenciaPeriodoResponse" />
    </operation>
    <operation name="actualizarPeriodo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/actualizarPeriodoRequest" message="tns:actualizarPeriodo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/actualizarPeriodoResponse" message="tns:actualizarPeriodoResponse" />
    </operation>
    <operation name="listarPeriodos">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/listarPeriodosRequest" message="tns:listarPeriodos" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/listarPeriodosResponse" message="tns:listarPeriodosResponse" />
    </operation>
    <operation name="insertarPeriodo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/insertarPeriodoRequest" message="tns:insertarPeriodo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/insertarPeriodoResponse" message="tns:insertarPeriodoResponse" />
    </operation>
    <operation name="obtenerPeriodo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/obtenerPeriodoRequest" message="tns:obtenerPeriodo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/obtenerPeriodoResponse" message="tns:obtenerPeriodoResponse" />
    </operation>
    <operation name="eliminarPeriodo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/eliminarPeriodoRequest" message="tns:eliminarPeriodo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PeriodoWS/eliminarPeriodoResponse" message="tns:eliminarPeriodoResponse" />
    </operation>
  </portType>
  <binding name="PeriodoWSPortBinding" type="tns:PeriodoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarGerenciaPeriodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPeriodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPeriodos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPeriodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="obtenerPeriodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPeriodo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PeriodoWS">
    <port name="PeriodoWSPort" binding="tns:PeriodoWSPortBinding">
      <soap:address location="http://54.160.145.128:8080/SistemaEDServices/PeriodoWS" />
    </port>
  </service>
</definitions>