SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/PuestoTrabajoWS/PuestoTrabajoWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sed.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="PuestoTrabajoWS" targetNamespace="http://services.sed.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.160.145.128:8080/SistemaEDServices/PuestoTrabajoWS?xsd=1" namespace="http://services.sed.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="listarPuestoTrabajos">
    <part name="parameters" element="tns:listarPuestoTrabajos" />
  </message>
  <message name="listarPuestoTrabajosResponse">
    <part name="parameters" element="tns:listarPuestoTrabajosResponse" />
  </message>
  <message name="eliminarPuestoTrabajo">
    <part name="parameters" element="tns:eliminarPuestoTrabajo" />
  </message>
  <message name="eliminarPuestoTrabajoResponse">
    <part name="parameters" element="tns:eliminarPuestoTrabajoResponse" />
  </message>
  <message name="insertarPuestoTrabajo">
    <part name="parameters" element="tns:insertarPuestoTrabajo" />
  </message>
  <message name="insertarPuestoTrabajoResponse">
    <part name="parameters" element="tns:insertarPuestoTrabajoResponse" />
  </message>
  <message name="actualizarPuestoTrabajo">
    <part name="parameters" element="tns:actualizarPuestoTrabajo" />
  </message>
  <message name="actualizarPuestoTrabajoResponse">
    <part name="parameters" element="tns:actualizarPuestoTrabajoResponse" />
  </message>
  <portType name="PuestoTrabajoWS">
    <operation name="listarPuestoTrabajos">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/listarPuestoTrabajosRequest" message="tns:listarPuestoTrabajos" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/listarPuestoTrabajosResponse" message="tns:listarPuestoTrabajosResponse" />
    </operation>
    <operation name="eliminarPuestoTrabajo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/eliminarPuestoTrabajoRequest" message="tns:eliminarPuestoTrabajo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/eliminarPuestoTrabajoResponse" message="tns:eliminarPuestoTrabajoResponse" />
    </operation>
    <operation name="insertarPuestoTrabajo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/insertarPuestoTrabajoRequest" message="tns:insertarPuestoTrabajo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/insertarPuestoTrabajoResponse" message="tns:insertarPuestoTrabajoResponse" />
    </operation>
    <operation name="actualizarPuestoTrabajo">
      <input wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/actualizarPuestoTrabajoRequest" message="tns:actualizarPuestoTrabajo" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/PuestoTrabajoWS/actualizarPuestoTrabajoResponse" message="tns:actualizarPuestoTrabajoResponse" />
    </operation>
  </portType>
  <binding name="PuestoTrabajoWSPortBinding" type="tns:PuestoTrabajoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="listarPuestoTrabajos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarPuestoTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPuestoTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarPuestoTrabajo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PuestoTrabajoWS">
    <port name="PuestoTrabajoWSPort" binding="tns:PuestoTrabajoWSPortBinding">
      <soap:address location="http://54.160.145.128:8080/SistemaEDServices/PuestoTrabajoWS" />
    </port>
  </service>
</definitions>