SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/GerenciaWS/GerenciaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://services.sed.pucp.edu.pe/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="GerenciaWS" targetNamespace="http://services.sed.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://54.160.145.128:8080/SistemaEDServices/GerenciaWS?xsd=1" namespace="http://services.sed.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarGerencia">
    <part name="parameters" element="tns:eliminarGerencia" />
  </message>
  <message name="eliminarGerenciaResponse">
    <part name="parameters" element="tns:eliminarGerenciaResponse" />
  </message>
  <message name="listarGerencias">
    <part name="parameters" element="tns:listarGerencias" />
  </message>
  <message name="listarGerenciasResponse">
    <part name="parameters" element="tns:listarGerenciasResponse" />
  </message>
  <message name="insertarGerencia">
    <part name="parameters" element="tns:insertarGerencia" />
  </message>
  <message name="insertarGerenciaResponse">
    <part name="parameters" element="tns:insertarGerenciaResponse" />
  </message>
  <message name="actualizarGerencia">
    <part name="parameters" element="tns:actualizarGerencia" />
  </message>
  <message name="actualizarGerenciaResponse">
    <part name="parameters" element="tns:actualizarGerenciaResponse" />
  </message>
  <message name="listarGerenciasXColaborador">
    <part name="parameters" element="tns:listarGerenciasXColaborador" />
  </message>
  <message name="listarGerenciasXColaboradorResponse">
    <part name="parameters" element="tns:listarGerenciasXColaboradorResponse" />
  </message>
  <portType name="GerenciaWS">
    <operation name="eliminarGerencia">
      <input wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/eliminarGerenciaRequest" message="tns:eliminarGerencia" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/eliminarGerenciaResponse" message="tns:eliminarGerenciaResponse" />
    </operation>
    <operation name="listarGerencias">
      <input wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/listarGerenciasRequest" message="tns:listarGerencias" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/listarGerenciasResponse" message="tns:listarGerenciasResponse" />
    </operation>
    <operation name="insertarGerencia">
      <input wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/insertarGerenciaRequest" message="tns:insertarGerencia" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/insertarGerenciaResponse" message="tns:insertarGerenciaResponse" />
    </operation>
    <operation name="actualizarGerencia">
      <input wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/actualizarGerenciaRequest" message="tns:actualizarGerencia" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/actualizarGerenciaResponse" message="tns:actualizarGerenciaResponse" />
    </operation>
    <operation name="listarGerenciasXColaborador">
      <input wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/listarGerenciasXColaboradorRequest" message="tns:listarGerenciasXColaborador" />
      <output wsam:Action="http://services.sed.pucp.edu.pe/GerenciaWS/listarGerenciasXColaboradorResponse" message="tns:listarGerenciasXColaboradorResponse" />
    </operation>
  </portType>
  <binding name="GerenciaWSPortBinding" type="tns:GerenciaWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarGerencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGerencias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarGerencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="actualizarGerencia">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarGerenciasXColaborador">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="GerenciaWS">
    <port name="GerenciaWSPort" binding="tns:GerenciaWSPortBinding">
      <soap:address location="http://54.160.145.128:8080/SistemaEDServices/GerenciaWS" />
    </port>
  </service>
</definitions>