SistemaEDInterfaces/SistemaEDInterfaces/Connected Services/ColaboradorWS/ColaboradorWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.sed.pucp.edu.pe/" targetNamespace="http://services.sed.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buscarJefe" type="tns:buscarJefe" />
  <xs:element name="buscarJefeResponse" type="tns:buscarJefeResponse" />
  <xs:element name="insertarColaborador" type="tns:insertarColaborador" />
  <xs:element name="insertarColaboradorResponse" type="tns:insertarColaboradorResponse" />
  <xs:element name="listarColaboradores" type="tns:listarColaboradores" />
  <xs:element name="listarColaboradoresResponse" type="tns:listarColaboradoresResponse" />
  <xs:element name="listarColaboradoresXJefe" type="tns:listarColaboradoresXJefe" />
  <xs:element name="listarColaboradoresXJefeResponse" type="tns:listarColaboradoresXJefeResponse" />
  <xs:complexType name="buscarJefe">
    <xs:sequence>
      <xs:element name="idJefe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarJefeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:colaborador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="colaborador">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellidos" type="xs:string" />
      <xs:element minOccurs="0" name="correo" type="xs:string" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element minOccurs="0" name="dni" type="xs:string" />
      <xs:element minOccurs="0" name="fechaNac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="gerencia" type="tns:gerencia" />
      <xs:element name="idColaborador" type="xs:int" />
      <xs:element minOccurs="0" name="jefe" type="tns:colaborador" />
      <xs:element minOccurs="0" name="nombres" type="xs:string" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
      <xs:element minOccurs="0" name="puestoTrabajo" type="tns:puestoTrabajo" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gerencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idGerencia" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="periodo" type="tns:periodo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="periodo">
    <xs:sequence>
      <xs:element minOccurs="0" name="diaNotificacion" type="xs:dateTime" />
      <xs:element minOccurs="0" name="estado" type="tns:estadoPeriodo" />
      <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fechaInicio" type="xs:dateTime" />
      <xs:element minOccurs="0" name="horaNotificacion" type="tns:time" />
      <xs:element name="idPeriodo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="pesoEvalComp" type="xs:double" />
      <xs:element name="pesoEvalObj" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="time">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="puestoTrabajo">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idPuestoTrabajo" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarColaboradoresXJefe">
    <xs:sequence>
      <xs:element name="idJefe" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarColaboradoresXJefeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:colaborador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarColaborador">
    <xs:sequence>
      <xs:element minOccurs="0" name="colaborador" type="tns:colaborador" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarColaboradorResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarColaboradores">
    <xs:sequence>
      <xs:element name="idPuestoTrabajo" type="xs:int" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarColaboradoresResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:colaborador" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="estadoPeriodo">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVO" />
      <xs:enumeration value="INACTIVO" />
      <xs:enumeration value="ELIMINADA" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>